/*
Colors to use:
dark blue: #396083
light blue: #587EA0
*/

html {
  height: 100vh;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr)
}

.phone-img {
  display: inline-block;
  grid-area: 2 / 2 / span 5 / span 3;
}

.logo {
  grid-area: 2 / 5 / 3 / span 3;
}

#login {
  grid-area: 2 / 8 / 3 / span 2;
}

.text-box {
  grid-area: 3 / 5 / -3 / -2;
}

.get-it {
  grid-area: -3 / 5 / -2 / -2;
}

footer {
  grid-area: -2 / 2 / -1 / -2;
}

ul li {
  display: inline-block;
}